*{
    margin: 0;
    box-sizing: border-box;
}

.body{
    height: 100vh;
    width: 100vw;
}

#root{
    height: 100%;
    width: 100%;
}

.register{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/asset/bgimage.png);
    background-size: cover;
}
.register>form{
    height: 65%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    /* background-color: red; */
    backdrop-filter: blur(8px);
    gap: 20px;
    border: 2px solid #fff;
    border-radius: 10px;
    
}
.register>form>div{
    border-bottom: 3px solid black;
    padding-right: 10px;
}

.register>form>div:first-child,.register>form>div:nth-child(7),.register>form>div:nth-child(8){
    border: none;
}
.register>form>div>input{
    /* background-color: aqua; */
    border: none;
    height: 30px;
    width: 260px;
    /* border-bottom: 3px solid black; */
    background-color: transparent;
    padding-left: 12px;
    padding-bottom: 12px;
    outline: none;
    box-shadow: none;
}

/* .register>form>div>span{
    padding-bottom: 11px;
    border-bottom: 3px solid black;
} */

.register>form>div:last-child>button{
    background-color: black;
    color: #fff;
    border-radius: 10px;
    height: 30px;
    width: 260px;
    border: none;
}

.register>form>div:nth-child(7)>input{
    border: none;
    
}

.register>form>div>textarea{
    /* width: 100%;
    height: 100%; */
    width: 260px;
    
    border: none;
    background-color: transparent;
    padding: 2px 5px;
    outline: none;
    
}

.register>form>div:nth-child(7)>input::file-selector-button{
    border: none;
    background-color: black;
    color: #fff;
    height: 25px;
    width: 130px;
    border-radius: 8px;   
}


@media screen and (max-width:1260px) {
    .registerForm>form{
        width: 50%;
    }
}


@media screen and (max-width:768px) {
    .registerForm>form{
        width: 80%;
    }
        .registerForm>form>div>input[type="file"]::file-selector-button{
        width: 40%;
    }
}


input::placeholder{
    margin-left: 10px;
    font-size: 15px;
}


.login{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/asset/bgimage.png);
    background-size: cover;
}

.login>form{
    height: 50%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    /* background-color: red; */
    backdrop-filter: blur(8px);
    gap: 20px;
    border: 2px solid #fff;
    border-radius: 10px;
    
}

.login>form>div{
    border-bottom: 3px solid black;
    padding-right: 10px;
    margin-bottom: 10px;
}

.login>form>div:first-child,.login>form>div:last-child{
    border: none;
}

.login>form>div>input{
    /* background-color: aqua; */
    border: none;
    height: 30px;
    width: 260px;
    /* border-bottom: 3px solid black; */
    background-color: transparent;
    padding-left: 12px;
    padding-bottom: 12px;
    outline: none;
    box-shadow: none;

}

.login>form>div:last-child{
    padding-top: 25px;
}

.login>form>div:first-child{
    padding-bottom: 10px;
}

.login>form>div:last-child>button{

    background-color: black;
    color: #fff;
    border-radius: 10px;
    height: 40px;
    width: 260px;
    border: none;
}